* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App {
  font-family: sans-serif;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  flex-direction: column;
}

.color-box {
  width: 200px;
  height: 200px;
  /* border: 2px solid black; */
  display: grid;
  place-content: center;
  border-radius: 10px;
  box-shadow: 0 0 5px 5px gray;
}

.input-box {
  width: 200px;
  padding: 10px;
  margin-top: 10px;
  border: 0;
  border-radius: 10px;
  text-align: center;
  box-shadow: 0 0 2px 2px gray;
}

label {
  position: absolute;
  top: -999999px;
}

.btn {
  display: block;
  width: 200px;
  padding: 10px;
  margin-top: 10px;
  border: 0;
  border-radius: 10px;
  text-align: center;
  box-shadow: 0 0 2px 2px gray;
  cursor: pointer;
}
